<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>civ-clone</title>
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body>

    <div id="mainmenu"></div>

    <div id="game">
      <div id="sidebar">
        <canvas id="minimap" width="190"></canvas>
        <div id="gameDetails"></div>
        <div id="playerDetails"></div>
        <div id="unitInfo"></div>
      </div>

      <div id="map">
        <canvas></canvas>
      </div>

      <div id="actions"></div>
      <div id="other-actions"></div>
    </div>

    <div id="notification"></div>

    <div id="preload">
      <img src="../assets/city/bulb.png"/>
      <img src="../assets/city/food.png"/>
      <img src="../assets/city/gold.png"/>
      <img src="../assets/city/luxury.png"/>
      <img src="../assets/city/people_content_f.png"/>
      <img src="../assets/city/people_content_m.png"/>
      <img src="../assets/city/people_happy_f.png"/>
      <img src="../assets/city/people_happy_m.png"/>
      <img src="../assets/city/people_luxury.png"/>
      <img src="../assets/city/people_science.png"/>
      <img src="../assets/city/people_tax.png"/>
      <img src="../assets/city/people_unhappy_f.png"/>
      <img src="../assets/city/people_unhappy_m.png"/>
      <img src="../assets/city/pollution.png"/>
      <img src="../assets/city/sad.png"/>
      <img src="../assets/city/production.png"/>
      <img src="../assets/city/trade.png"/>
      <img src="../assets/cursor/go.png"/>
      <img src="../assets/cursor/torch.png"/>
      <img src="../assets/general/texture_1.png"/>
      <img src="../assets/general/texture_2.png"/>
      <img src="../assets/improvements/irrigation.png"/>
      <img src="../assets/improvements/mine.png"/>
      <img src="../assets/improvements/pollution.png"/>
      <img src="../assets/improvements/railroad_e.png"/>
      <img src="../assets/improvements/railroad_se.png"/>
      <img src="../assets/improvements/railroad_n.png"/>
      <img src="../assets/improvements/railroad_ne.png"/>
      <img src="../assets/improvements/railroad_nw.png"/>
      <img src="../assets/improvements/railroad_s.png"/>
      <img src="../assets/improvements/railroad_sw.png"/>
      <img src="../assets/improvements/railroad_w.png"/>
      <img src="../assets/improvements/road_e.png"/>
      <img src="../assets/improvements/road_n.png"/>
      <img src="../assets/improvements/road_ne.png"/>
      <img src="../assets/improvements/road_nw.png"/>
      <img src="../assets/improvements/road_s.png"/>
      <img src="../assets/improvements/road_se.png"/>
      <img src="../assets/improvements/road_sw.png"/>
      <img src="../assets/improvements/road_w.png"/>
      <img src="../assets/map/city.png"/>
      <img src="../assets/map/fog_e.png"/>
      <img src="../assets/map/fog_n.png"/>
      <img src="../assets/map/fog_s.png"/>
      <img src="../assets/map/fog_w.png"/>
      <img src="../assets/map/fort.png"/>
      <img src="../assets/map/fortify.png"/>
      <img src="../assets/map/hut.png"/>
      <img src="../assets/status/pollution_0.png"/>
      <img src="../assets/status/pollution_25.png"/>
      <img src="../assets/status/pollution_50.png"/>
      <img src="../assets/status/pollution_75.png"/>
      <img src="../assets/status/science_0.png"/>
      <img src="../assets/status/science_25.png"/>
      <img src="../assets/status/science_50.png"/>
      <img src="../assets/status/science_75.png"/>
      <img src="../assets/terrain/arctic.png"/>
      <img src="../assets/terrain/arctic_e.png"/>
      <img src="../assets/terrain/arctic_es.png"/>
      <img src="../assets/terrain/arctic_esw.png"/>
      <img src="../assets/terrain/arctic_ew.png"/>
      <img src="../assets/terrain/arctic_n.png"/>
      <img src="../assets/terrain/arctic_ne.png"/>
      <img src="../assets/terrain/arctic_nes.png"/>
      <img src="../assets/terrain/arctic_nesw.png"/>
      <img src="../assets/terrain/arctic_new.png"/>
      <img src="../assets/terrain/arctic_ns.png"/>
      <img src="../assets/terrain/arctic_nsw.png"/>
      <img src="../assets/terrain/arctic_nw.png"/>
      <img src="../assets/terrain/arctic_s.png"/>
      <img src="../assets/terrain/arctic_sw.png"/>
      <img src="../assets/terrain/arctic_w.png"/>
      <img src="../assets/terrain/coal.png"/>
      <img src="../assets/terrain/coast_sprite.png"/>
      <img src="../assets/terrain/desert.png"/>
      <img src="../assets/terrain/desert_e.png"/>
      <img src="../assets/terrain/desert_es.png"/>
      <img src="../assets/terrain/desert_esw.png"/>
      <img src="../assets/terrain/desert_ew.png"/>
      <img src="../assets/terrain/desert_n.png"/>
      <img src="../assets/terrain/desert_ne.png"/>
      <img src="../assets/terrain/desert_nes.png"/>
      <img src="../assets/terrain/desert_nesw.png"/>
      <img src="../assets/terrain/desert_new.png"/>
      <img src="../assets/terrain/desert_ns.png"/>
      <img src="../assets/terrain/desert_nsw.png"/>
      <img src="../assets/terrain/desert_nw.png"/>
      <img src="../assets/terrain/desert_s.png"/>
      <img src="../assets/terrain/desert_sw.png"/>
      <img src="../assets/terrain/desert_w.png"/>
      <img src="../assets/terrain/doe.png"/>
      <img src="../assets/terrain/fish.png"/>
      <img src="../assets/terrain/forest.png"/>
      <img src="../assets/terrain/forest_e.png"/>
      <img src="../assets/terrain/forest_es.png"/>
      <img src="../assets/terrain/forest_esw.png"/>
      <img src="../assets/terrain/forest_ew.png"/>
      <img src="../assets/terrain/forest_n.png"/>
      <img src="../assets/terrain/forest_ne.png"/>
      <img src="../assets/terrain/forest_nes.png"/>
      <img src="../assets/terrain/forest_nesw.png"/>
      <img src="../assets/terrain/forest_new.png"/>
      <img src="../assets/terrain/forest_ns.png"/>
      <img src="../assets/terrain/forest_nsw.png"/>
      <img src="../assets/terrain/forest_nw.png"/>
      <img src="../assets/terrain/forest_s.png"/>
      <img src="../assets/terrain/forest_sw.png"/>
      <img src="../assets/terrain/forest_w.png"/>
      <img src="../assets/terrain/gems.png"/>
      <img src="../assets/terrain/gold.png"/>
      <img src="../assets/terrain/grassland.png"/>
      <img src="../assets/terrain/grassland_e.png"/>
      <img src="../assets/terrain/grassland_es.png"/>
      <img src="../assets/terrain/grassland_esw.png"/>
      <img src="../assets/terrain/grassland_ew.png"/>
      <img src="../assets/terrain/grassland_n.png"/>
      <img src="../assets/terrain/grassland_ne.png"/>
      <img src="../assets/terrain/grassland_nes.png"/>
      <img src="../assets/terrain/grassland_nesw.png"/>
      <img src="../assets/terrain/grassland_new.png"/>
      <img src="../assets/terrain/grassland_ns.png"/>
      <img src="../assets/terrain/grassland_nsw.png"/>
      <img src="../assets/terrain/grassland_nw.png"/>
      <img src="../assets/terrain/grassland_s.png"/>
      <img src="../assets/terrain/grassland_sw.png"/>
      <img src="../assets/terrain/grassland_w.png"/>
      <img src="../assets/terrain/hills.png"/>
      <img src="../assets/terrain/hills_e.png"/>
      <img src="../assets/terrain/hills_es.png"/>
      <img src="../assets/terrain/hills_esw.png"/>
      <img src="../assets/terrain/hills_ew.png"/>
      <img src="../assets/terrain/hills_n.png"/>
      <img src="../assets/terrain/hills_ne.png"/>
      <img src="../assets/terrain/hills_nes.png"/>
      <img src="../assets/terrain/hills_nesw.png"/>
      <img src="../assets/terrain/hills_new.png"/>
      <img src="../assets/terrain/hills_ns.png"/>
      <img src="../assets/terrain/hills_nsw.png"/>
      <img src="../assets/terrain/hills_nw.png"/>
      <img src="../assets/terrain/hills_s.png"/>
      <img src="../assets/terrain/hills_sw.png"/>
      <img src="../assets/terrain/hills_w.png"/>
      <img src="../assets/terrain/horse.png"/>
      <img src="../assets/terrain/jungle.png"/>
      <img src="../assets/terrain/jungle_e.png"/>
      <img src="../assets/terrain/jungle_es.png"/>
      <img src="../assets/terrain/jungle_esw.png"/>
      <img src="../assets/terrain/jungle_ew.png"/>
      <img src="../assets/terrain/jungle_n.png"/>
      <img src="../assets/terrain/jungle_ne.png"/>
      <img src="../assets/terrain/jungle_nes.png"/>
      <img src="../assets/terrain/jungle_nesw.png"/>
      <img src="../assets/terrain/jungle_new.png"/>
      <img src="../assets/terrain/jungle_ns.png"/>
      <img src="../assets/terrain/jungle_nsw.png"/>
      <img src="../assets/terrain/jungle_nw.png"/>
      <img src="../assets/terrain/jungle_s.png"/>
      <img src="../assets/terrain/jungle_sw.png"/>
      <img src="../assets/terrain/jungle_w.png"/>
      <img src="../assets/terrain/land.png"/>
      <img src="../assets/terrain/mountains.png"/>
      <img src="../assets/terrain/mountains_e.png"/>
      <img src="../assets/terrain/mountains_es.png"/>
      <img src="../assets/terrain/mountains_esw.png"/>
      <img src="../assets/terrain/mountains_ew.png"/>
      <img src="../assets/terrain/mountains_n.png"/>
      <img src="../assets/terrain/mountains_ne.png"/>
      <img src="../assets/terrain/mountains_nes.png"/>
      <img src="../assets/terrain/mountains_nesw.png"/>
      <img src="../assets/terrain/mountains_new.png"/>
      <img src="../assets/terrain/mountains_ns.png"/>
      <img src="../assets/terrain/mountains_nsw.png"/>
      <img src="../assets/terrain/mountains_nw.png"/>
      <img src="../assets/terrain/mountains_s.png"/>
      <img src="../assets/terrain/mountains_sw.png"/>
      <img src="../assets/terrain/mountains_w.png"/>
      <img src="../assets/terrain/oasis.png"/>
      <img src="../assets/terrain/ocean.png"/>
      <img src="../assets/terrain/oil.png"/>
      <img src="../assets/terrain/plains.png"/>
      <img src="../assets/terrain/plains_e.png"/>
      <img src="../assets/terrain/plains_es.png"/>
      <img src="../assets/terrain/plains_esw.png"/>
      <img src="../assets/terrain/plains_ew.png"/>
      <img src="../assets/terrain/plains_n.png"/>
      <img src="../assets/terrain/plains_ne.png"/>
      <img src="../assets/terrain/plains_nes.png"/>
      <img src="../assets/terrain/plains_nesw.png"/>
      <img src="../assets/terrain/plains_new.png"/>
      <img src="../assets/terrain/plains_ns.png"/>
      <img src="../assets/terrain/plains_nsw.png"/>
      <img src="../assets/terrain/plains_nw.png"/>
      <img src="../assets/terrain/plains_s.png"/>
      <img src="../assets/terrain/plains_sw.png"/>
      <img src="../assets/terrain/plains_w.png"/>
      <img src="../assets/terrain/river_e.png"/>
      <img src="../assets/terrain/river_es.png"/>
      <img src="../assets/terrain/river_esw.png"/>
      <img src="../assets/terrain/river_ew.png"/>
      <img src="../assets/terrain/river_mouth_e.png"/>
      <img src="../assets/terrain/river_mouth_n.png"/>
      <img src="../assets/terrain/river_mouth_s.png"/>
      <img src="../assets/terrain/river_mouth_w.png"/>
      <img src="../assets/terrain/river.png"/>
      <img src="../assets/terrain/river_n.png"/>
      <img src="../assets/terrain/river_ne.png"/>
      <img src="../assets/terrain/river_nes.png"/>
      <img src="../assets/terrain/river_nesw.png"/>
      <img src="../assets/terrain/river_new.png"/>
      <img src="../assets/terrain/river_ns.png"/>
      <img src="../assets/terrain/river_nsw.png"/>
      <img src="../assets/terrain/river_nw.png"/>
      <img src="../assets/terrain/river_s.png"/>
      <img src="../assets/terrain/river_sw.png"/>
      <img src="../assets/terrain/river_w.png"/>
      <img src="../assets/terrain/seal.png"/>
      <img src="../assets/terrain/shield.png"/>
      <img src="../assets/terrain/game.png"/>
      <img src="../assets/terrain/swamp.png"/>
      <img src="../assets/terrain/swamp_e.png"/>
      <img src="../assets/terrain/swamp_es.png"/>
      <img src="../assets/terrain/swamp_esw.png"/>
      <img src="../assets/terrain/swamp_ew.png"/>
      <img src="../assets/terrain/swamp_n.png"/>
      <img src="../assets/terrain/swamp_ne.png"/>
      <img src="../assets/terrain/swamp_nes.png"/>
      <img src="../assets/terrain/swamp_nesw.png"/>
      <img src="../assets/terrain/swamp_new.png"/>
      <img src="../assets/terrain/swamp_ns.png"/>
      <img src="../assets/terrain/swamp_nsw.png"/>
      <img src="../assets/terrain/swamp_nw.png"/>
      <img src="../assets/terrain/swamp_s.png"/>
      <img src="../assets/terrain/swamp_sw.png"/>
      <img src="../assets/terrain/swamp_w.png"/>
      <img src="../assets/terrain/tundra.png"/>
      <img src="../assets/terrain/tundra_e.png"/>
      <img src="../assets/terrain/tundra_es.png"/>
      <img src="../assets/terrain/tundra_esw.png"/>
      <img src="../assets/terrain/tundra_ew.png"/>
      <img src="../assets/terrain/tundra_n.png"/>
      <img src="../assets/terrain/tundra_ne.png"/>
      <img src="../assets/terrain/tundra_nes.png"/>
      <img src="../assets/terrain/tundra_nesw.png"/>
      <img src="../assets/terrain/tundra_new.png"/>
      <img src="../assets/terrain/tundra_ns.png"/>
      <img src="../assets/terrain/tundra_nsw.png"/>
      <img src="../assets/terrain/tundra_nw.png"/>
      <img src="../assets/terrain/tundra_s.png"/>
      <img src="../assets/terrain/tundra_sw.png"/>
      <img src="../assets/terrain/tundra_w.png"/>
      <img src="../assets/units/tank.png"/>
      <img src="../assets/units/artillery.png"/>
      <img src="../assets/units/battleship.png"/>
      <img src="../assets/units/bomber.png"/>
      <img src="../assets/units/cannon.png"/>
      <img src="../assets/units/caravan.png"/>
      <img src="../assets/units/carrier.png"/>
      <img src="../assets/units/catapult.png"/>
      <img src="../assets/units/horseman.png"/>
      <img src="../assets/units/chariot.png"/>
      <img src="../assets/units/combat_1.png"/>
      <img src="../assets/units/combat_2.png"/>
      <img src="../assets/units/combat_3.png"/>
      <img src="../assets/units/combat_4.png"/>
      <img src="../assets/units/combat_5.png"/>
      <img src="../assets/units/combat_6.png"/>
      <img src="../assets/units/combat_7.png"/>
      <img src="../assets/units/combat_8.png"/>
      <img src="../assets/units/cruiser.png"/>
      <img src="../assets/units/diplomat.png"/>
      <img src="../assets/units/fighter.png"/>
      <img src="../assets/units/frigate.png"/>
      <img src="../assets/units/ironclad.png"/>
      <img src="../assets/units/knights.png"/>
      <img src="../assets/units/swordman.png"/>
      <img src="../assets/units/mechanizedinfantry.png"/>
      <img src="../assets/units/warrior.png"/>
      <img src="../assets/units/musketman.png"/>
      <img src="../assets/units/nuclear.png"/>
      <img src="../assets/units/spearman.png"/>
      <img src="../assets/units/rifleman.png"/>
      <img src="../assets/units/sail.png"/>
      <img src="../assets/units/settlers.png"/>
      <img src="../assets/units/submarine.png"/>
      <img src="../assets/units/transport.png"/>
      <img src="../assets/units/trireme.png"/>
      <img src="../img/main-menu-bg.jpg"/>
    </div>

    <script src="../js/renderer.js" type="module"></script>
  </body>
</html>
