body {
    background: #123;
    color: #edc;
    cursor: url('../assets/cursor/torch.png'), default;
    font-family: sans-serif;
    margin: 0;
}

#game {
    align-items: stretch;
    display: none;
    min-height: 100vh;
}

#game.active {
    display: flex;
}

#sidebar {
    background: #8a8a8e;
    box-sizing: border-box;
    flex-grow: 0;
    padding: .5em;
    width: 12.5em;
}

#map {
    flex-grow: 1;
    max-height: 100vh;
}

#map canvas {
    height: 100%;
    width: 100%;
}

#actions {
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: absolute;
    right: 0;
}

#actions .action {
    margin: 1em;
}

#actions .action button {
    appearance: none;
    border-radius: 50%;
    background: #ccc none no-repeat center center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
    height: 3em;
    outline: none;
    width: 3em;
}

#actions .action button:hover {
    background-color: #eee;
}

#actions .action button:active {
    background-color: #aaa;
    position: relative;
    top: 2px;
    left: 2px;
}

#actions .action button.chooseResearch {
    background-image: url('../assets/city/bulb.png');
    background-position: 0.5625em 0.5625em;
    background-size: 16px;
    image-rendering: pixelated;
}

#actions .action button.cityBuild {
    background-image: url('../assets/city/production.png');
    background-position: 0.5625em 0.5625em;
    background-size: 16px;
    image-rendering: pixelated;
}

#notification {
    background: rgba(0, 0, 0, .2);
    border-top-left-radius: .5rem;
    bottom: 0;
    padding: .5rem;
    position: fixed;
    right: 0;
}

#notification:empty {
    display: none;
}

.notificationWindow {
    background: #edc;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #123;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
    left: calc(50% - 20em);
    max-height: 60%;
    position: fixed;
    top: 20%;
    width: 40em;
}

.notificationWindow header {
    background: #38e;
    color: #edc;
    font-weight: bold;
    padding: .5em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
}

.notificationWindow header h3 {
    margin: 0;
}

.notificationWindow p {
    overflow-y: scroll;
    margin: 0;
    padding: 1em .5em;
    max-height: 20em;
}

.notificationWindow button {
    margin: 1em .5em;
}

#preload {
    left: -100%;
    position: absolute;
    width: 100%;
}