#actions {
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  position: absolute;
  right: 0;

  .action {
    margin: 0 1em 1em;
    text-align: right;

    button {
      appearance: none;
      border-radius: 50%;
      background: #ccc none no-repeat center / 16px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
      box-sizing: content-box;
      cursor: pointer;
      font-size: 12px;
      height: 3.1em;
      outline: none;
      padding: 0;
      width: 3.1em;

      &:active {
        background-color: #aaa;
        position: relative;
        top: 2px;
        left: 2px;
      }

      &:hover {
        background-color: #eee;
      }

      &.chooseResearch,
      &.cityBuild {
        image-rendering: pixelated;
      }

      &.chooseResearch {
        background-image: url('../assets/city/bulb.png');

        &:focus,
        &:focus-visible {
          border-color: #25e0e8;
        }
      }

      &.cityBuild {
        background-image: url('../assets/city/production.png');

        &:focus,
        &:focus-visible {
          border-color: #e8e8e8;
        }
      }

      &.endTurn {
        background-image: url('../../node_modules/feather-icons/dist/icons/check-circle.svg');
        background-size: 50%;
        border-width: 3px;
        font-size: 18px;

        &:focus,
        &:focus-visible {
          border-color: #daa520;
        }
      }
    }
  }
}
