.city-screen-window {
  display: flex;
  flex-direction: column;

  .body {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.city-screen {
  display: flex;
  flex: 1;
  flex-direction: column;

  .city-map {
    min-width: 160px;
    text-align: center;
    width: 20vw;
  }

  .bottom-row {
    align-items: stretch;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    flex: 1 1;
  }

  .top-row,
  .bottom-row {
    display: flex;

    .yield-details,
    .improvements,
    .growth,
    .tabbed-details,
    .build {
      flex: 1 1;
      padding: 0.25rem;
    }

    .yield-details,
    .improvements {
      max-width: 40vw;
    }
  }

  .yield-details .yield,
  .population {
    display: flex;

    .citizen {
      // TODO: this shouldn't be hard-coded and should instead be provided by the asset-pack
      max-width: 12px;
      min-width: 0;

      img {
        // TODO: this shouldn't be hard-coded and should instead be provided by the asset-pack
        width: 16px;
        image-rendering: pixelated;
      }
    }
  }

  .yield-details .yield {
    display: flex;

    .used {
      flex: 0 1;
    }

    .free {
      flex: 1 1;
    }

    .used,
    .free {
      display: flex;
    }

    &:not(:last-child),
    .used:not(:empty) {
      margin-right: .5em;
    }
  }

  .yield-icon {
    // TODO: this shouldn't be hard-coded and should instead be provided by the asset-pack
    max-width: 8px;
    min-width: 0;
    padding-right: 2px;

    img {
      // TODO: this shouldn't be hard-coded and should instead be provided by the asset-pack
      width: 14px;
      image-rendering: pixelated;
    }
  }

  .tabbed-details,
  .city-map {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-width: 0 1px;
  }

  .supported-units .unit {
    position: relative;

    .yield-icon {
      position: absolute;
      left: 2px;
      bottom: 2px;

      &:nth-child(3) {
        left: 8px;
      }

      &:nth-child(4) {
        left: 14px;
      }

      &:nth-child(5) {
        left: 20px;
      }
    }
  }

  .improvements .yield-icon:first-child {
    margin-left: 0.5rem;
  }
}
