.notificationWindow {
  background: #edc;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #123;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
  left: calc(50% - 20em);
  max-height: 60%;
  outline: 0;
  position: fixed;
  top: 20%;
  width: 40em;

  header {
    background: #38e;
    color: #edc;
    font-weight: bold;
    padding: .5em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);

    h3 {
      margin: 0;
    }
  }


  p {
    overflow-y: auto;
    margin: 0;
    padding: 1em .5em;
    max-height: 20em;
  }

  button {
    margin: 1em .5em;
  }
}
